body{
    margin: 0;
    padding: 0;
}
:root{
    color: #2C2630;
    
}
.div-home{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.first-contain{
    display: flex;
    
    margin-top: 2rem;
    
}
.div-elemen{
    flex-direction: column;
    justify-content: center;
    
    
}
.div-figu{
    flex-direction: column;
    justify-self: center;
    align-self: flex-start;
}
.ilustra{
    align-self: flex-start;
}
