body{
    margin: 0;
    padding: 0;
}
:root{
    color: #2C2630;
    
}
.div-home{
    display: block;
}
.first-contain{
    display: grid;
    margin-top: 5rem;
    grid-template-columns: 350px auto;
    justify-content: center;
    
    
}
.div-elemen{
   align-self: flex-end;
   flex-wrap: nowrap;
   justify-content: center;
   

}
.div-figu{
    justify-self: flex-end;
    
}

@media only screen and (min-width: 1480px){
    
    .first-contain{
        grid-gap: 225px !important;

    }
    .div-elemen{
        width: 120% !important;
        font-size: 120% !important;
    }
    .ilustra{
        width: 525px !important;
    
    }
}

@media only screen and (min-width:1280px){
    .first-contain{
        grid-gap: 125px ;

    }
    .div-elemen{
        width: 105% ;
        font-size: 105% ;
    }
    .ilustra{
        width: 480px ;
    
    }
}
@media only screen and (max-width: 1280px) {
    .first-contain{
        grid-gap:25px;

    }
    .div-elemen{
        width: 90%;
        font-size: 95% ;
        margin: 0px 30px;
        
    }
    .ilustra{
        width: 425px;
    
    }
}

@media only screen and (max-width: 860px){
    .first-contain{
        grid-gap: 0px;
        align-content: center;

    }
    .div-figu{
        display: none;
    }
    .ilustra{
        display: none;
    }
    .div-elemen{
     justify-self: center !important;   
     font-size: 105%;
     width: 100%;
     margin-top: inherit;
     
    }
    
}



