body{
    margin: 0;
    padding: 0;
}
:root{
    color: #2C2630;
    
}
.div-home{
    display: block;
}
.first-contain{
    display: grid;
    margin-top: 5rem;
    grid-template-columns: 350px auto;
    justify-content: center;
    
    
}
.div-elemen{
   align-self: flex-end;
   flex-wrap: nowrap;
   justify-content: center;
   

}
.div-figu{
    justify-self: flex-end;
    
}


@media only screen and (min-width:1367px){
    .ilustra{
        width: 600px;
    
    }
    .first-contain{
        grid-gap: 300px;

    }
    .div-elemen{
        font-size: 145%;
        width:150%;
    }
}
@media only screen and (max-width: 960px){
    .div-figu{
        display: none;
    }
    .ilustra{
        display: none;
    }
    
}
@media screen and (max-width: 1366px) {
    .first-contain{
        grid-gap: 120px;

    }
    .div-elemen{
        width:100%;
    }
    .ilustra{
        width: 500px;
    
    }
}

