:root{
    font-family: sans-serif;
}
/* nav geral */
.nav-geral{
    display: flex;
    font-size: 1.2em;
    justify-content: space-around;
    align-items: center;
    
}


/* Logo */
.link-logo{
    cursor: pointer;
    
    
}
.img-logo{

    
}

.menu-icon{
    display: none;
    

}
/* Lista ul com as tags links do nav */
.nav-ul-links{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    align-items: center;
    justify-content: end;
    
}

li{
    list-style-type: none;
}

.nav-li-link{
    margin-left: 35px;
}

.nav-link-primary{
    color: #2C2630;
}

.nav-link-primary:hover{
    color: #4941D1;
}
.nav-link-primary:active{
    color: #908AFF ;
}


/* Responsividade*/
@media screen and (max-width: 960px) {
    .nav-geral{
        position: relative;
    }
    .nav-ul-links{
        display: flex;
        flex-direction: column;
        width: 100%;
        opacity: 1;
        display: none;
    }
    .nav-li-link{
        margin-bottom: 1.5em;
    }
    .menu-icon{
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
    }
    .faBars{
        align-self: center;
        align-items: center;
    }
}

