:root{
    font-family: sans-serif;
}
/* nav geral */
.nav-geral{
    display: flex;
    font-size: 1.2em;
    height: 80px;
    justify-content: center;
    align-items: center;
    
}


/* Logo */
.link-logo{
    cursor: pointer;
    justify-self: start;
    margin-left: 20px;
}

.menu-icon{
    display: none;
    margin-right: 20px;
    

}
/* Lista ul com as tags links do nav */
.nav-ul-links{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    align-items: center;
    justify-content: end;
    margin-right: 2rem;
    text-align: center;
    width: 70vw;
    
}

li{
    list-style-type: none;
}

.nav-li-link{
    margin-left: 35px;
}

.nav-link-primary{
    color: #2C2630;
}

.nav-link-primary:hover{
    color: #4941D1;
}
.nav-link-primary:active{
    color: #908AFF ;
}


/* Responsividade*/
@media screen and (max-width: 960px) {
    .nav-geral{
        position: relative;
    }
    .nav-ul-links{
        display:none;
        flex-direction: column;
        width: 100%;
        height: 280px;
        top: 80%;
        left: -100%;
        padding: 0px;
        margin-left: 15px;
        margin-right: 0;
        opacity: 1;
        transition: all 0.5s ease;
        
    }
    .nav-ul-links.active{
        display: flex;
        background-color: white;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        position: absolute;
        
    }
    .nav-li-link{
        text-align: center;
        padding: 0.5em 0px;
        width: 100%;
        display: table;
        margin-left: 0;
    }

    .menu-icon{
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: 30px;
    }
    .faBars{
        align-self: center;
        align-items: center;
        color: #6C63FF;
    }
    .link-logo{
        margin-left: 30px;
        margin-right: 70%;
    }
}

